body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.sidenav {
  height: 100%;
  width: 20%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  padding-top: 20px;
}

select {
  width: 80%;
  padding: 10px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
}

.main {
  margin-left: 20%;
  padding: 20px;
  transition: margin-left 0.5s;
}

@media screen and (max-width: 600px) {
  .sidenav {
    width: 50%;
  }

  .main {
    margin-left: 50%;
  }
}
